<app-header></app-header>
<div class="content">
  <mat-form-field appearance="outline" class="search">
    <mat-label>Nome do pokémon</mat-label>
    <input matInput placeholder="Placeholder" [formControl]="nameControl">
    <mat-icon matSuffix>pets</mat-icon>
    <mat-hint>Digite o nome do pokémon que deseja buscar</mat-hint>
  </mat-form-field>

  @if (pokeApiService.loading()) {
    <mat-spinner></mat-spinner>
  } @else {
    <button mat-flat-button [disabled]="nameControl.invalid" (click)="fetchPokemon()">Procurar</button>
  }

  @if(pokeApiService.pokemonData(); as pokemon){
    <app-poke-card [pokemon]="pokemon"></app-poke-card>
  } @else if (hasSearched() && !pokeApiService.loading()) {
    <p class="no-data">Nenhum pokémon encontrado</p>
  }
</div>
